.footer-container {
    border-radius: 35px;
    background-color:  #32423b ;
    margin: 0px;
    padding:0px;
    padding-bottom:20px;
    
}
.footer-first-row {
    padding-left:150px;
}


.footer-second-row {
    padding-left:450px;
}


.footer-third-row {
    padding-left:450px;
}